.advantages {
  padding: 26px 28px;
}
.advantages__headline {
  margin: 0;
  margin-bottom: 36px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
}
.advantages__description {
  width: 250px;
  margin: 0;
  padding: 51px 0 32px;
}
.advantages__item {
  position: relative;
}
.advantages__item-flower::before {
  content: "";
  position: absolute;
  background: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 37px;
  left: 10px;
  top: -5px;
}
.advantages__item-money::before {
  content: "";
  position: absolute;
  top: -5px;
  background: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 47px;
  height: 27px;
}
.advantages__item-heart::before {
  content: "";
  position: absolute;
  background: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 34px;
  height: 27px;
  left: 10px;
}
.advantages__item-ball::before {
  content: "";
  position: absolute;
  background: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 35px;
  height: 34px;
  left: 5px;
}
.advantages__item-rocket::before {
  content: "";
  position: absolute;
  background: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 55px;
  height: 23px;
  left: -5px;
}
.advantages__item-gift::before {
  content: "";
  position: absolute;
  background: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 33px;
  height: 32px;
  left: 5px;
}


@media (min-width: @tablet-width) {
  .advantages__description {
    width: 300px;
    padding: 57px 0 55px;
  }

  .advantages__item-flower::before {
    top: 2px;
  }

  .advantages__item-money::before {
    top: 3px;
  }

  .advantages__item-heart::before {
    top: 5px;
  }

  .advantages__item-ball::before {
    top: 5px;
  }

  .advantages__item-rocket::before {
    top: 5px;
  }

  .advantages__item-gift::before {
    top: 5px;
  }

  .advantages {
    padding: 55px 48px;
  }

  .advantages__headline {
    margin-bottom: 46px;
  }

  .advantages__wrraper {
    display: flex;
  }

  .advantages__list {
    flex-grow: 1;
    font-size: 20px;
    line-height: 1.1;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding: 62px 0 30px;
    margin: 0 225px;
  }
}
