.advantages {
  padding: 26px 28px;
}
.advantages__headline {
  margin: 0;
  margin-bottom: 31px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
}
.advantages__item-description {
  margin: 16px 0 33px;
}

@media (min-width: @tablet-width) {

  .advantages {
    padding: 50px 45px;
  }

  .advantages__headline {
    margin-bottom: 50px;
  }

  .advantages__wrraper {
    display: flex;
  }

  .advantages__list {
    flex-grow: 1;
    font-size: 20px;
    line-height: 1.1;
  }

  .advantages__item-description {
    width: 300px;
    margin: 14px 0 57px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding: 65px 0 30px;
    margin: 0 225px;
  }
}
