
body {
  margin: 0;
  padding: 0;

  width: 320px;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #ffffff;
  color: #000000;
}
a {
  text-decoration: none;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.headline-page {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
}
.headline {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.visually-hidden
{
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}
.button {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
}
.button:hover,
.button:focus {
  background: #444444;
  color: #ffffff;
}
.button:active {
  background: #444444;
  color: rgba(255, 255, 255, 0.3);
}
.link {
  color: #000000;
}
.link:focus,
.link:hover {
  opacity: 0.6;
}
.link:active {
  opacity: 0.3;
}
.line-zigzag {
  height: 6px;
  background: url("../source/img/bg-zigzag-fill.svg");
  background-size: 100% 6px;
}
.footer-page {
  background: #f1f1f1;
  padding: 30px 48px;
}
