.footer-page {
  background: #f1f1f1;
  padding: 30px 48px;
}
.footer-page__copyright {
  font-size: 19px;
  font-weight: bold;
  line-height: 0.95;
  text-align: left;
}
.footer-page__copyright-develop {
  margin-left: 21px;
}
.footer-page__copyright-logo {
  margin-left: 30px;
}
.footer-page__social {
  display: flex;
  justify-content: space-around;
}
.footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer__logo {
  display: block;
  }

  .footer-page {
    display: flex;
    justify-content: space-between;
  }
}
