.footer-page {
  background: #f1f1f1;
  padding: 25px 30px 23px;
}
.footer-page__copyright {
  margin: 22px 39px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  font-weight: bold;
  line-height: 0.95;
  text-align: left;
}
.footer-page__social {
  border-bottom: #e5e5e5 1px solid;
  padding-bottom: 27px;
  text-align: center;
}
.footer-page__social-item {
  margin: 0 20px;
}
.footer-page__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer-page__logo {
    display: block;
  }

  .footer-page {
    position: relative;
    padding: 51px 51px 58px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer-page__social {
    padding: 0;
    margin-left: 75px;
    border: none;
  }

  .footer-page__copyright {
    margin: 0;
    width: 185px;
  }
}
