.hit {
  padding: 34px 32px;
}
.hit__headline {
  margin-bottom: 8px;
}
.hit__description {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
}
.hit__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: center;
  color: #444444;
}
.hit__button {
  display: block;
  width: 100%;
  padding: 20px 0;
}
.hit__subtitle {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  text-transform: uppercase;
  color: #63d1bb;
  margin-bottom: 30px;
}

