.hit {
  position: relative;
  padding: 24px 32px 52px;
}
.hit__headline {
  margin-bottom: 8px;
}
.hit__wrraper {
  width: 282px;
}
.hit__description {
  margin: 20px 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
}
.hit__price {
  margin: 20px 0 45px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: center;
  color: #444444;
}
.hit__button {
  padding: 14px 83px;
}
.hit__subtitle {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  text-transform: uppercase;
  color: #63d1bb;
  margin-bottom: 30px;
}


@media (min-width: @tablet-width) {
  .hit {
    position: relative;
    padding: 35px 52px 63px;
  }

  .hit__img {
    position: absolute;
    right: 53px;
    top: 140px;
  }

  .hit__price {
    margin-bottom: 53px;
    font-size: 20px;
    line-height: 1.2;
  }

  .hit__subtitle {
    line-height: 1;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 46px;
    right: 66px;
    width: 70px;
  }

  .hit__description {
    margin: 50px 0 40px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.76;
    text-align: left;
  }

  .hit__button {
    padding: 14px 99px;
  }
}

@media (min-width: @desktop-width) {
  .hit {
    padding: 110px 0 83px 225px;
  }

  .hit__subtitle {
    top: 122px;
    left: 97px;
  }

  .hit::before {
    content: "";
    width: 525px;
    height: 636px;
    background: url("../img/triple-set-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 53px;
    top: 54px;
  }

  .hit__headline {
    margin: 0;
    position: relative;
    z-index: 1;
  }

  .hit__price {
    margin-bottom: 48px;
  }

  .hit__description {
    margin: 47px 0;
  }
}
