.offers {
  margin-top: -130px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-align: left;
}
.offers__item {
  display: block;
  padding: 30px;
  color: #ffffff;
}
.offers__interior {
  position: relative;
  background: #63d1bb;
}
.offers__interior::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background: url("../img/icon-interior.svg");
  opacity: 0.5;
}
.offers__toy {
  position: relative;
  background: #56c3b2;
}
.offers__toy::after {
  content: "";
  position: absolute;
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  background: url("../img/icon-toy.svg");
  opacity: 0.5;
}
.offers__header {
  display: block;
  padding-top: 76px;
  width: 320px;
  height: 373px;
  background: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
}
.offers__header-headline {
  text-align: center;
  margin: 0 39px;
}
