.offers {
  position: relative;
  background: #f9f9f9;
}
.offers__item {
  display: block;
  width: 320px;
  margin: 0 auto;
  color: #ffffff;
}
.offers__item-offer {
  display: block;
  width: 120px;
  padding: 29px;
}
.offers__interior {
  position: relative;
  background: #63d1bb;
}
.offers__interior:hover,
.offers__interior:focus {
  background: #59d5bc;
}
.offers__interior::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background: url("../img/icon-interior.svg");
  opacity: 0.5;
}
.offers__toy {
  position: relative;
  background: #56c3b2;
}
.offers__toy::after {
  content: "";
  position: absolute;
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  background: url("../img/icon-toy.svg");
  opacity: 0.5;
}
.offers__header {
  display: block;
  position: relative;
  height: 373px;
  background: url("../img/hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.offers__header-headline {
  position: relative;
  top: 90px;
  text-align: center;
  margin: 0 35px;
}
.offers__list {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-align: left;
  margin-top: -90px;
}

.offers__line-zigzag {
  display: none;
}

@media (min-width: @tablet-width) {
  .offers__item-offer {
    padding: 30px 32px;
  }

  .offers__line-zigzag {
    display: block;
    position: relative;
    z-index: 10;
    margin-top: -12px;
    height: 24px;
    background: url("../img/bg-zigzag-fill.svg");
    background-size: auto 24px;
  }

  .offers__header {
    top: 17px;
    margin: 0;
    height: 626px;
    background: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .offers__header-headline {
    margin: 0 63px;
    top: 137px;
  }

  .offers__list {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 52px;
    display: flex;
  }

  .offers__interior {
    flex-grow: 1;
  }

  .offers__toy {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .offers__header-headline {
    margin: 0 200px;
    top: 127px;
  }

  .offers {
    font-size: 20px;
    line-height: 1.5;
  }

  .offers__header {
    margin-top: -15px;
    height: 746px;
    background: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 24px 52px 0;
  }

  .offers__list {
    margin-top: -125px;
  }

  .offers__item-offer {
    padding: 30px 37px;
  }

  .offers__line-zigzag {
    height: 34px;
    background-size: auto 34px;
    margin-top: -17px;
  }

}
