.page-header {
  position: relative;
}
.page-header__logo {
  display: block;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 0 0 #ececec, inset 0px 1px 0 0 #ececec;
}
.page-header__logo-image {
  display: block;
  margin: 0 auto;

}
