.parameters {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  margin-bottom: 28px;
}
.parameters__item {
  display: block;
  border-bottom: #ececec solid 1px;
}
.parameters__item-column-first {
  width: 67px;
}
.parameters__item-cell {
  padding: 15px 31px 15px 0;
}
