.parameters {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 1.33;
  text-align: left;
  margin-bottom: 28px;
}
.parameters__item {
  border-bottom: #ececec solid 1px;
}
.parameters__item-cell {
  font-weight: normal;
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .parameters {
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .parameters {
    margin-bottom: 115px;
  }
}
